{% layout "layout.liquid" %}
{% block content %}

<h2>Welcome to Knifty!</h2>
<h3 class="intro">The perfect place to keep track of all your knitting patterns.</h3>

<!-- <h3>Popular Patterns:</h3> -->

<div class="index-options">
    <a href="/user/signup"><button>Sign Up</button></a>
    <a href="/user/login"><button>Login</button></a>
</div>

{% endblock %}