{% layout "layout.liquid" %}
{% block content %}

<div>
    <h2 class="form-title">Log In</h2>
    <form action="/user/login" method="post" class="form">
        <div class="flex-pair">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="flex-pair">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <input type="submit" value="Login" class="white-btn">
    </form>
</div>

{% endblock %}